.col2list {
  padding: 1.25rem 0;
  border-top: 1px #bbb solid;

  &:last-child {
    border-bottom: 1px #bbb solid;
  }
}

@media screen and (min-width: 750px) {
  .col2list {
    display: flex;

    &_heading {
      flex: 0 0 25%;
    }

    &_text {
      flex: 1;
    }
  }
}

.collection-categorytop {
  height: 35vh;
  min-height: 380px;
  position: relative;
  overflow: hidden;

  & img,
  &__inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
  }

  & img {
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 0.65;
  }

  &__inner {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* =============================================
/  article
/============================================ */
#story-top.article-template__hero-container {
  max-width: 100%;

  @media screen and (min-width: 1920px) {
    max-width: 1920px;
  }

  & .mdeia {
    background: inherit;

    @media screen and (min-width: 990px) {
      padding-bottom: calc(625px + 2rem) !important;
    }
  }

  & img {
    border-radius: 0 0 25% 25%;

    @media screen and (min-width: 990px) {
      height: 625px;
    }

    @media screen and (min-width: 1920px) {
      border-radius: 0 0 50% 50%;
    }
  }
}