@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700&display=swap');
*, h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5 {
  font-family: 'M PLUS 1p', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
}

.col2list {
  padding: 1.25rem 0;
  border-top: 1px #bbb solid;

  &:last-child {
    border-bottom: 1px #bbb solid;
  }
}

@media screen and (min-width: 750px) {
  .col2list {
    display: flex;

    &_heading {
      flex: 0 0 25%;
    }

    &_text {
      flex: 1;
    }
  }
}

/* =============================================
/  Blog - slim
/============================================ */
.list-style-none {
  list-style: none;
  padding-left: initial;
}

.col2list_text_excerpt {
  font-size: 1.4rem;
}

@media screen and (min-width: 750px) {
  .col2list.articles {
    padding: 3rem 1.5rem;
    align-items: baseline;
  }

  .articles .col2list_heading {
    flex-basis: 10em;
  }
}


.collection-categorytop {
  height: 35vh;
  min-height: 380px;
  position: relative;
  overflow: hidden;

  & img,
  &__inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
  }

  & img {
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 0.65;
  }

  &__inner {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* =============================================
/  article
/============================================ */
#story-top.article-template__hero-container {
  max-width: 100%;

  @media screen and (min-width: 1920px) {
    max-width: 1920px;
  }

  & .mdeia {
    background: inherit;

    @media screen and (min-width: 990px) {
      padding-bottom: calc(625px + 2rem) !important;
    }
  }

  & img {
    border-radius: 0 0 25% 25%;

    @media screen and (min-width: 990px) {
      height: 625px;
    }

    @media screen and (min-width: 1920px) {
      border-radius: 0 0 50% 50%;
    }
  }
}

/* =============================================
/  article-metafields-products
/============================================ */
.metafields-product {
  margin-bottom: 6rem;

  @media screen and (min-width: 750px) {
    display: flex;

    &_img {
      flex: 3;
      margin-right: 2.5rem;
    }

    &_txt {
      flex: 5;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & h3 {
        margin-top: 0;
      }

      & .btn_link {
        margin-bottom: 30px;
      }
    }
  }

  & img {
    max-width: 100%;
  }
}