{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'description' -%}
      {%- if product.description != blank -%}
        <div class="product__description rte quick-add-hidden" {{ block.shopify_attributes }}>
          {{ product.description }}
        </div>
      {%- endif -%}
    {%- when 'textblock' -%}
      <p>{{ block.settings.heading }}</p>
      <div>{{ block.settings.text }}</div>
  {%- endcase -%}
{%- endfor -%}

{% schema %}
   {
    "name": "商品説明",
    "settings": [],
    "blocks": [
      {
        "type": "description",
        "name": "t:sections.main-product.blocks.description.name",
        "limit": 1
      },
      {
        "type": "textblock",
        "name": "商品の追加情報",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "見出し"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "テキスト"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "商品説明"
      }
    ],
    "templates" : [
      "product"
    ]
  }
{% endschema %}