<div class="collection-categorytop">
  <img src="{{ collection.image | img_url: 'master' }}">
  <div class="collection-categorytop__inner page-width">
    <h1>
      {{ collection.title | escape }}
    </h1>
    {{ collection.description | strip_html | truncate: 120 }}
  </div>
</div>

{% schema %}
  {
    "name": "トップセクション",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}